<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"/>
    <title>CPay market</title>
    <script src="../../assets/jquery/jquery-1.12.4.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap-toggle.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap-toggle.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/bootstrap/css/bootstrap-toggle.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <form method="post" name="type_form" id="type_form" action="/add_type" role="form">
            <div class="form-group">
                <!--<input class="form-control" type="hidden" id="id" name="id" required/>-->
                <label for="title">Title</label>
                <input class="form-control" id="title" name="title" required/>
                <br/>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>