<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"/>
    <title>HashFactory</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/bootstrap-toggle.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap-toggle.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">



        <form method="post" name="shop_form" id="shop_form" action="/add_shop" role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" name="title" required/>
                <br/>
                <label for="description">Description</label>
                <input class="form-control" id="description" name="description" required/>
                <br/>
                <label for="typeItem">Раздел</label>
                <select id="typeItem" name="typeItem" class="form-control">
                    <option>Кафе</option>
                    <option>Ресторан</option>
                    <option>Магазин</option>
                    <option>Прокат</option>
                    <option>Услуги</option>
                </select><br/>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Добавить</button>
        </form>






</div>
</div>


</body>
</html>