<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"/>
    <title>CPay market</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/bootstrap-toggle.js"></script>
    <script src="/dist/js/docs.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap-toggle.css" rel="stylesheet">
    <!--<style>-->
    <!--#map {-->
    <!--height: 400px;-->
    <!--width: 100%;-->
    <!--}-->
    <!--</style>-->
</head>
<body>

<div class="container">
    <div class="row">


        <form method="post" name="shop_form" id="shop_form" action="/add_shop" role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" name="title" required/>
                <br/>
                <label for="description">Description</label>
                <input class="form-control" id="description" name="description" required/>
                <br/>
                <label for="wallet">Wallet</label>
                <input class="form-control" id="wallet" name="wallet" required/>
                <br/>
                <label for="typeItem">Type</label>
                <select id="typeItem" name="typeItem" class="form-control">
                    <option data-th-each="type : ${types}"><b th:text="${type.title}"></b></option>
                </select>
                <br/>
                <div id="map"></div>
                <br/>
                <label for="address">Address</label>

                <!--<div class="input-group">-->
                    <input class="form-control"  onchange="codeAddress()" id="address" name="address" required on/>
                    <!--<span class="input-group-btn">-->
                      <!--<button class="btn btn-default" type="button" >Map</button>-->
                        <!--</span>-->
                <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->

                <br/>
                <label for="addaddress">Addition address</label>
                <input class="form-control" id="addaddress" name="addaddress"/>
                <br/>
                <label for="tel">Phone number</label>
                <input class="form-control" id="tel" name="tel"/>
                <br/>
                <label for="site">Site page</label>
                <input class="form-control" id="site" name="site"/>
                <br/>
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email"/>
                <input type="hidden" class="form-control" id="latitude"
                       name="latitude"/>
                <input type="hidden" class="form-control" id="longitude"
                       name="longitude"/>
            </div>
            <button type="submit" id="submit"  onclick="codeAddress()" class="btn btn-primary">Add advert</button>
        </form>


    </div>
</div>

</body>
<script src="/dist/js/map.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCysBJYb0rQH-S6MkhknZUu43tROphTw5c&callback=initMap">
</script>
</html>