
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CPay market</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="/download">Downloads</a></li>
            <li><a href="/list_shop">Cabinet</a></li>
        </ul>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <p>Прототип приложения с минимально работающими функциями</p>
        <p>Текущий функционал</p>
        <p>- Создание и работа с эфириум кошельком на устройстве в тестовой сети rinkeby</p>
        <p>- защита приложением, pin кода также является password для эфириум кошелька</p>
        <p>- Пересылка, получание эфира, формирование QR кода, получание с крана эфира (адрес 0xb2a7a85e7a104b069508594b255da3f9aa0ecbaf)(кнопка Wallet)</p>
        <p>- Взаимодействие с сайтом магазином http://95.85.8.20/</p>
        <p>- Оформления заказа и оплата эфира на адрес магазина</p>
        <p>- взаимодействие с бэкендом средствами RestApi</p>
        <p>- просмотр транзакций в блокчейне (rinkeby.etherscan.io) из приложения (кнопка History)</p>
        <a href="https://play.google.com/store/apps/details?id=com.cryptopay.prototype"><span class="glyphicon glyphicon-download-alt"></span> Android App</a>
    </div>


    <!-- Site footer -->

</div> <!-- /container -->

<div class="footer">
    <p class="text-center">&copy; CPay 2017</p>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>