
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CPay market</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <img class = "pull-center" src="/open/topcpay.jpg" height="100%" width="100%"/>
    <div class="masthead">

            <h2 >more about us on <a href="http://cpay.click/" alt="cpay.click">cpay.click</a></h2>
            <!--<a target="_blank" href="https://coinmarketcap.com/currencies/bitcoin/"><b>-->
                <!--<output th:text="${btc}" th:style="(${btc_rise}?'color:green;':'color:red;')+'padding-top:0px'">-->
                <!--BTC - 0.0$-->
                <!--</output>-->
            <!--</b></a>-->

        <ul class="nav nav-justified">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.cryptopay.prototype">Download Application</a></li>
            <li><a href="/list_shop">Cabinet</a></li>
        </ul>
        <br/>
        <h3 class="text-right"><a target="_blank" href="https://coinmarketcap.com/currencies/ethereum/"><b>
            <output th:text="${eth}" th:style="(${eth_rise}?'color:green;':'color:red;')+'padding-top:0px'" >
                ETH - 0.0EUR
            </output>
        </b></a></h3>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Crypto market place</h1>
        <p class="lead">New crypto world for easy payment of goods and services around the world</p><br/>
        <!--<p><a class="btn btn-lg btn-success" href="/add_shop" role="button">Add your market place!</a></p>-->
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4 col-sm-6"  th:each="advert : ${adverts}">
            <h2 th:text="${advert.title}"></h2>
            <div class="text-center"><img th:src="'/image/'+${advert.id}" height="100%" width="100%"></div>
            <p th:text="${advert.description}"></p>
            <p><a class="btn btn-primary" th:href="'shop/'+${advert.id}" role="button">View details &raquo;</a></p>
        </div>

    </div>
    <div class="jumbotron">
        <br/>
        <h3>Download application for mobile Android</h3>
        <br/>
        <p class="lead"><img src="/img/qr_code_download.jpg"/></p>
        <br/>
    </div>

    </div>
    <!-- Site footer -->


</div> <!-- /container -->

<div class="footer">
    <p class="text-center">&copy; CPay 2017</p>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>