<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CPay market</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/justified-nav.css" rel="stylesheet">
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/docs.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">


    <div class="row">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8">
            <a href="/">&larr; main page</a>
            <br/>
            <a href="/list_type">&rarr; edit type</a>
            <br/>
            <a href="/help">&rarr; help</a>
            <br/><br/>
            <table class="table table-striped" id="posts_list">
                <thead>
                <tr>
                    <th>Shop</th>
                    <th>Wallet</th>
                    <th><span class="glyphicon glyphicon-edit"></span></th>
                    <th><span class="glyphicon glyphicon-floppy-remove"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="advert : ${adverts}">
                    <td class="message" data-th-text="${advert.title}"></td>
                    <td class="message" data-th-text="${advert.wallet}"></td>
                    <td class="message"><a th:href="'edit_shop/'+${advert.id}"><span
                            class="glyphicon glyphicon-edit"></span></a></td>
                    <!--<td class="message"><a th:href="'remove_shop/'+${advert.id}"  data-toggle="modal" data-target="#mailModal"><span class="glyphicon glyphicon-floppy-remove"></span></a></td>-->
                    <td class="message"><a href="#" th:onclick="'show('+${advert.id}+')'"><span
                            class="glyphicon glyphicon-floppy-remove"></span></a></td>
                </tr>
                </tbody>
            </table>
            <br/>

            <a class="btn btn-success pull-right" href="/add_shop" role="button">Add advert</a><br/>
        </div>
    </div>

</div> <!-- /container -->

<div id="infoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center">Warning</h2><br/>
            </div>
            <div class="modal-body">
                <h4 class="modal-title text-center">Delete shop?</h4><br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning btn-left" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success btn-right" onclick="confirm()" type="button" data-dismiss="modal">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var pos;

    function show(id) {
        pos = id;
        $('#infoModal').modal('show');
    }

    function confirm() {
        if (pos >= 0) {
            window.location.href="remove_shop/" + pos;

        }
    }
</script>
</body>
</html>