<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CPay market</title>
    <link rel="shortcut icon" href="/assets/ico/favicon.ico"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../assets/bootstrap/css/signin.css" rel="stylesheet"/>
    <script src="../../assets/jquery/jquery-1.12.4.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<br/>
<div class="container">

    <div class="row">

        <form th:action="@{/login}" method="POST" class="form-signin">
            <div align="center" class="alert alert-danger" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19;">Incorrect login or password</p>
            </div>
            <h3 class="form-signin-heading text-center">Welcome</h3>
            <br/>

            <input type="email" id="email" name="email" th:placeholder="Email"
                   class="form-control"/> <br/>
            <input type="password" th:placeholder="Password"
                   id="password" name="password" class="form-control"/> <br/>


            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Sign in" type="Submit">Sign in</button>

        </form>

        <p class="text text-center"><a href="/recovery">Forgot your password?</a></p>
        <div class="form-signin">
            <hr/>
            <h3 class="text-center">or create your account</h3>
            <a class="btn btn-lg btn-warning btn-block" href="/registration">Registration</a>
        </div>
    </div>
</div>
</body>
</html>