<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CPay market</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/dist/css/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>

<div class="container">

    <div class="masthead">
        <h3 class="text-muted">CPay market
            <b class="text-right">
                <!--<a target="_blank" href="https://coinmarketcap.com/currencies/bitcoin/"><b>-->
                <!--<output th:text="${btc}" th:style="(${btc_rise}?'color:green;':'color:red;')+'padding-top:0px'">-->
                <!--BTC - 0.0$-->
                <!--</output>-->
                <!--</b></a>-->
                <a target="_blank" href="https://coinmarketcap.com/currencies/ethereum/"><b>
                    <output th:text="${eth}" th:style="(${eth_rise}?'color:green;':'color:red;')+'padding-top:0px'">
                        ETH - 0.0EUR
                    </output>
                </b></a>
            </b></h3>
        <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.cryptopay.prototype">Download Application</a>
            </li>
            <li><a href="/list_shop">Cabinet</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8">
            <br/>
            <h2 class="text-center" id="title" th:text="${advert.title}"></h2><br/>
            <input type="hidden" id="id" name="id" th:value="${advert.id}"/>
            <h3 class="text-center" id="typeItem" th:text="${advert.typeItem.title}"></h3>   <br/><br/>
            <div class="pull-center">
                <label for="wallet">Wallet address</label><br/>
                <!--th:value="${advert.wallet}"-->
                <input type="text" class="text-center" style="width: 100%;" id="wallet" name="wallet"
                       th:value="${advert.wallet}" readonly/>

            </div>
            <br/><br/>

            <div class="text-center"><img th:src="'/image/'+${advert.id}" height="60%" width="60%"></div>
            <br/><br/>
            <b><p th:text="${advert.description}"></p></b>
            <br/>
            <div id="map"></div>
            <br/>

            <p th:text="'Address: '+${advert.address}"></p>
            <br/>
            <p th:text="'Addition address: '+${advert.addAddress}"></p>
            <br/>
            <p th:text="'Phone number: '+${advert.tel}"></p>
            <br/>
            <p>Site page: <a th:href="''+${advert.site}" target="_blank" alt="Site page"><b
                    th:text="${advert.site}"></b></a></p>
            <br/>
            <p>Email: <a th:href="'mailto:'+${advert.email}" alt="email"><b th:text="${advert.email}"></b></a></p>

            <input type="hidden" class="form-control" id="latitude"
                   name="latitude" th:value="${advert.latitude}"/>
            <input type="hidden" class="form-control" id="longitude"
                   name="longitude" th:value="${advert.longitude}"/>
            <br/><br/>


            <div th:each="section : ${sections}" class="panel panel-default">

                <div th:text="${section.title}" style="font-weight: bold;" class="panel-heading"></div>
                <table class="table table-striped" id="posts_list">
                    <thead>
                    <tr>
                        <th width="60%">Product</th>
                        <th>Price</th>
                        <th>Currency</th>
                        <th></th>
                        <th>Amount</th>
                        <th></th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-th-each="item : ${items}" th:if="${item.section.id}==${section.id}">
                        <td class="message" data-th-text="${item.title}"></td>
                        <td class="message" data-th-text="${item.priceCurrency}" th:id="'price'+${item.id}"></td>
                        <td>euro</td>
                        <td>
                            <button class="btn btn-sm btn-danger" th:onclick="'minus('+${item.id}+',\''+${item.title}+'\')'"><b>-</b></button>
                        </td>
                        <td style="text-align: center;" th:id="'amount'+${item.id}">0</td>
                        <td>
                            <button class="btn btn-sm btn-primary" th:onclick="'plus('+${item.id}+', \''+${item.title}+'\')'">+</button>
                        </td>
                        <td style="text-align: center;" th:id="'total'+${item.id}">0</td>
                        <td>euro</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/><br/>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="text-left">Your order</h3>
                    <div class="pull-right">
                       <a class="btn btn-success" href="http://payment.cpay.store/creation" target="_blank"><span class="glyphicon glyphicon-new-window"></span>&nbsp;Create wallet</a>&nbsp;&nbsp;
                    <a class="btn btn-warning pull-right" href="http://payment.cpay.store/recovery" target="_blank"><span class="glyphicon glyphicon-retweet"></span>&nbsp;Recovery wallet</a>&nbsp;&nbsp;</div>&nbsp;&nbsp;<br/><br/>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <b>Total</b> <b th:id="total">0</b><b> euro</b></div>
                    <br/>
                    <div class="pull-right"><b>Ethereum rate</b> <b th:id="rate" th:text="${eth}">0</b><b> euro</b>
                    </div>
                    <br/>
                    <div class="pull-right"><b>Total</b> <b th:id="total_eth">0</b><b> eth</b></div>
                    <br/>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary pull-right" onclick="buy()">
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;BUY&nbsp;&nbsp;
                    </button>
                    <br/>
                    <br/>
                </div>
            </div>

            <br/><br/>
        </div>

    </div>
</div>

</div> <!-- /container -->

<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>

<script>
    var map;
    var marker;
    var pos = {
        lat: Number.parseFloat($("#latitude").val()),
        lng: Number.parseFloat($("#longitude").val())
    };

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: pos,
            zoom: 16
        });

        marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: $("#title").text()
        });
    }

    total_amount = 0;
    str = "";

    function minus(id, title) {
        price = parseFloat($("#price" + id).html());
        amount = parseFloat($("#amount" + id).html());
        amount--;

        total = parseFloat($("#total").text());
        rate = parseFloat($("#rate").text());

        if (amount >= 0) {
            $("#amount" + id).html(amount);
            $("#total" + id).html(amount * price);
            total -= price;
            total_amount--;
            $("#total").text(total);
            $("#total_eth").text(parseFloat(total / rate).toFixed(2));
            if(str.indexOf(title.trim())>-1){
                str = str.replace(', '+title.trim(), '');
            }
        }
    }

    function plus(id, title) {
        price = parseFloat($("#price" + id).html());
        amount = parseFloat($("#amount" + id).html());
        total = parseFloat($("#total").text());
        rate = parseFloat($("#rate").text());
        amount++;
        total_amount++;
        $("#amount" + id).html(amount);
        $("#total" + id).html(amount * price);
        total += price;
        $("#total").text(total);
        $("#total_eth").text(parseFloat(total / rate).toFixed(8));
        console.log(str.indexOf(title)==-1);
        if(str.indexOf(title.trim())==-1){
            str +=', '+title.trim();
        }
    }

    function buy() {
        if (total_amount > 0) {
            var url = "http://payment.cpay.store/trans?"
                + "shop=" + $("#title").text()
                + "&number=" + total_amount
                + "&price=" + $("#total_eth").text()
                + "&wallet=" + $("#wallet").val()
                + "&prname="+str.replace(', ', '').trim()
                + "&shopid="+$("#id").val();
//        console.log(url);
            window.open(url, '_blank');
//            $(location).attr('target', '_blank').attr('href', url);
        }
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCysBJYb0rQH-S6MkhknZUu43tROphTw5c&callback=initMap">
</script>
</html>